* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.slider-image.show {
    display: block;
}

.slider-image.hide {
    display: none;
}