html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    border: thin solid grey;
}

/* flex containers */
.flex-container {
    display: flex;
}

.column-container {
    display: flex;
    flex-direction: column;
}

/* styles to space the items in the flex-container */
.spaced-container {
    justify-content: space-between;
}

.centered-container {
    justify-content: center;
    gap: 10px;
}


/* flex items */
.flex-item {
    padding: 10px;
    align-self: center;
}

.logo-item {
    height: 50px;
    width: 50px;
}

.name-item {
    font-weight: 600;
}

.expanding-height-flex-item {
    flex-grow: 1;
    align-self: stretch;
    height: 50vh;
}

/* generic styles */
.no-padding {
    padding: 0;
}

.no-border {
    border: none;
}
