* {
    font-family: Arial;
    color: gold;
}

body {
    font-size: 18px;
    padding: 50px 100px 50px 100px;
}

p {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
}

h1, h2, h3 {
    color: red;
    text-align: justify;
}

form {
    border: 1px solid blue;
}

form input {
    margin-top: 10px;
    width: 100%;
}

#firstParagraph {
    color: rgb(31, 88, 27);
    font-size: 18px
}

h3.section-header {
    color: aqua;
}
.section-header {
    font-size: x-large;
}

.section-header .first-on-page {
    color: navy;
}

[disabled] {
    border: 1px solid grey;
    background-color: #F7F3E0;
}

[type='password'] {
    padding: 5px;

    width: 163px;
}

a {
    text-decoration: line-through;
}

em {
    text-transform: capitalize;
}

section {
    /*background-image: url("../tiger.jpeg");*/
    padding: 50px 100px 50px 100px;
}

ul {
    list-style-type: circle;
}

section p {
    color: aquamarine;
}

div > p {
    color: cadetblue;
}

div+p {
    color: chartreuse;
}

p~ul {
    color: aliceblue;
}

[target=_blank] {
    color: blue;
}

[title~=tooltip] {
    color: blueviolet;
}

[lang|=en] {
    font-family: AppleSystemUIFont;
}

a[href*="Potter"] {
    color: darkred;
}
